body {
  background: #FBFCFE;
  font-family: 'Lato' !important;
}

.notice.notice-attention {
  padding: 20px;
  background: lightyellow;
  border: 1px solid yellow;
}

/* header */
.fixedHeaderContainer {
  height: 70px;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #E9EEF2;
  color: black;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
  color: #444 !important;
  font-weight: bold;
}

.toc .toggleNav ul li a {
  font-size: inherit;
}

.navGroup > ul {
  margin-left: 10px;
}

.navGroup a {
  color: #666 !important;
}

.navigationSlider .slidingNav ul li a {
  color: black;
}

.navigationSlider .slidingNav ul li a:hover {
  background: none;
}

.toc .toggleNav ul li.navListItemActive a {
  text-decoration: none;
}

.fixedHeaderContainer h2 {
  color: black;
  font-weight: 500;
}

.headerWrapper a {
  text-decoration: none;
  color: black !important;
}

/* nav sidebar */

.navGroup:not(:first-child) {
  margin-top: 30px;
}

.navListItemActive a {
  font-weight: bolder;
}

.toc .toggleNav ul {
  padding: 0 0 0 0;
}

/* content */

.post a {
  color: #007bff;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.edit-page-link.button {
  border: none;
  border-bottom: 1px solid #052a4e;
  padding: 0;
  margin-bottom: 2px;
}
.edit-page-link.button:hover {
  color: inherit;
  background: none;
}

.toc-headings {
}

.toc-headings a {
  color: #333;
}

.toc-headings a.active {
  color: black !important;
}
